.container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
}

.box {
    background-color: grey;
    padding: 10px;
}

#sidebar {
    grid-row: span 5;
}

.footer {
    grid-column: span 3;
}

@media screen and (max-width: 576px) {
    #sidebar {
        grid-row: span 1;
    }
    
    .container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .box {
        grid-row: span 2;
        grid-column: span 2;
    }
}